.title_section_size{    
    height: 50px;
    font-size: 1.5rem;
    border-radius: 0.4rem;
    padding-left: 15px;
    width: 308px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.title_section_color_grey{
    background-color: lightgrey;
    color: gray;
}
.title_section_color_blue{
    background-color: lightblue;
    color: blue;
}
.title_section_color_green{
    background-color: lightgreen;
    color: green;
}
.title_section_color_red{
    background-color: pink;
    color: lightcoral;
}
.box{
    height: 50px;
    width: 300px;
    background-color: white;
    border-radius: 0.4rem;
    padding-left: 15px;
    
    display: flex;
    align-items: center 
}
.box_border_grey{
    border-left: 8px solid lightgray;
}
.box_border_blue{
    border-left: 8px solid lightblue;
}
.box_border_green{
    border-left: 8px solid lightgreen;
}
.box_border_red{
    border-left: 8px solid pink;
}



.backlog p{
    background: #E3E3E3;
    color: #767A7C;
}

.processing p{
    background: #D6E7FF;
    color: #6C9FF1;
}

.done p{
    background: #D7F9E0;
    color: #7AC285;
}

.basket p{
    background: #FBE3E3;
    color: #D78989;
}

.backlog li{
    border-left: 6px solid #E3E3E3;
}

.processing li{
    border-left: 6px solid #D6E7FF;
}

.done li{
    border-left: 6px solid #D7F9E0;
}

.basket li{
    position: relative;
    border-left: 6px solid #FBE3E3;
}